@import "./variables";

.home{
   
    &-container{
        display: flex;
        padding: 112px 16px;
        position: relative;
        row-gap: 40px;
    }
        &-content{
            position: relative;
            display: grid;
            justify-self: center;
        }
   
    &-img{
        width: 220px;
    }
    &-title{
        font-size: $biggest-font-size;
        color: $first-color;
        position: absolute;
        display: flex;
        column-gap: 7px;
        top: -65px;
        justify-self: center;
        span:nth-child(2){
            z-index: -1;
        }
    }

    &-button{
        justify-self: center;
    }

    &-social{
        display: grid;
        justify-content: start;
        row-gap: 96px;
        position: absolute;
        top: 140px;
        left: -80px;

        // text
        &-text{
            rotate: 90deg;
            position: relative;
            font-size: 1rem;
            font-size: $small-font-size;
            font-weight: $font-semi-bold;
            &::after{
                content: "";
                width: 48px;
                height: 1px;
                top: 0;
                bottom: 0;
                right: -64px;
                position: absolute;
                margin: auto;
                background-color: $text-color;
            }
        }
        //links
        &-links{
            display: grid;
            row-gap: 12px;
            margin-left: 22px;
        }
        &-link{
            font-size: 1rem;
            color: $text-color;
            font-size: 20px;
            transition: all 0.4s;
            &:hover{
                color: $first-color;
            }
        }
    }

    &-tooltip{
        position: absolute;
        top: -8px;
        right: 24px;
        &-img{
            width: 60px;
        }
        &-text{
            position: absolute;
            background-color: $gradient-color;
            color: $white-color;
            padding: 6px 12px;
            transform: translate(60px, -40px);
            border-radius: 64px;
            font-weight: 600;
            font-size: $small-font-size;
        }
       
       
    }
}

