.sponsor{
    &-img{
        width: 150px;
        transition: all 0.4s;
        &:hover{
            scale: 1.1;
            cursor: pointer;
        }
    }
    &-container{
        grid-template-columns: repeat(2, max-content);
        padding: 8px 72px;
        justify-content: center;
        align-items: center;
        margin-bottom: 80px;
    }
}